.avatar {
  border-radius: 50%;
  width: 250px;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 20px 3px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 20px 3px rgba(50, 50, 50, 0.5);
}

.presentation__list {
  list-style: none;
}

.presentation__list img {
  width: 30px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: bottom;
}

.presenter__profile{
  width : 100px; 
  border-radius: 50%;
}


a {
  color: #61dafb;
}
